<h2 mat-dialog-title>Edit User Information</h2>

<mat-dialog-content [formGroup]="userFormGroup">
  <div class="edit-fields">
    <i class="fa fa-user user-edit-icons" aria-hidden="true"></i>
    <input class="form-control" placeholder="firstname" formControlName="firstname">
    <div class="text-danger small"
      *ngIf="userFormGroup.get('firstname').hasError('required') && userFormGroup.get('firstname').touched">
      Firstname is required</div>
  </div>

  <div class="edit-fields">
    <i class="fa fa-user user-edit-icons" aria-hidden="true"></i>
    <input class="form-control" placeholder="lastname" formControlName="lastname">
    <div class="text-danger small"
      *ngIf="userFormGroup.get('lastname').hasError('required') && userFormGroup.get('lastname').touched">
      lastname is required</div>
  </div>
  <div class="edit-fields">
      <i class="fa fa-envelope user-edit-icons" aria-hidden="true" style="font-size: 15px; margin-right: 9px;"></i>
      <input class="form-control" placeholder="email" formControlName="email">
  </div>

  <div class="edit-fields">
      <i class="fa fa-gift user-edit-icons" aria-hidden="true" style="margin-right: 8px;"></i>
      <input class="form-control" placeholder="date of birth" formControlName="dob">
  </div>

  <div class="edit-fields">
      <i class="fa fa-phone user-edit-icons" aria-hidden="true"></i>
      <input class="form-control" placeholder="phone" formControlName="phone">
  </div>

  <div class="edit-fields">
      <i class="fa fa-home user-edit-icons" aria-hidden="true" style="margin-right: 8px;"></i>
      <input class="form-control" placeholder="address" formControlName="address">
  </div>
 
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button class="mr-2" (click)="onNoClick()">Close</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Update</button>
</mat-dialog-actions>