<app-loading-screen *ngIf="loading"></app-loading-screen>

<div (click)="onNoClick()">
  <button class="closeEdit">&times;</button>
</div>

<div class="business-card-form">
  <div style="width: 410px;">
    <label class="control-label text-success" for="image">Organization </label>
    <input class="form-control mr-2" placeholder="image" [(ngModel)]="card.company">
  </div>
</div>

<div class="business-card-form mt-3">
  <div class="firstname-form pr-3">
    <label class="control-label text-success" for="firstname">Firstname</label>
    <input class="form-control mr-2" placeholder="firstname" [(ngModel)]="card.firstname">
  </div>
  <div class="lastname-form">
    <label class="control-label text-success" for="lastname">Lastname</label>
    <input class="form-control" placeholder="lastname" [(ngModel)]="card.lastname">
  </div>
</div>

<div class="business-card-form">
  <div class="email-form pr-3">
    <label class="control-label text-success" for="email">Email </label>
    <input class="form-control mr-2" placeholder="email" [(ngModel)]="card.email">
  </div>
  <div class="phone-form">
    <label class="control-label text-success" for="phoneNumber">Phone Number</label>
    <input class="form-control" placeholder="phone number" [(ngModel)]="card.phoneNumber">
  </div>
</div>

<div class="business-card-form">
  <div style="width: 310px;">
    <label class="control-label text-success" for="image">Business Card Image </label>
    <input class="form-control mr-2" placeholder="image" [(ngModel)]="card.image">
  </div>
  <div style="margin-top: 32px; margin-left: 10px;">
    <button class="btn btn-outline-success" (click)="openWebcam(card)">
      Webcam</button>
  </div>
</div>

<div mat-dialog-actions class="confirm-buttons">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button class="update-button" [mat-dialog-close]="card" cdkFocusInitial>Update</button>
</div>

<div class=" webcam-edit" align="center" *ngIf="onWebcam">
 <span class="closeCam" (click)="closeWebcam()"
  matTooltip="Close webcam" [matTooltipPosition]="'above'"
  >&times;</span>
  <app-web-cam 
  (imageBase64)="receiveWebcamImage($event)" 
  (textDetection)="receiveTextDetection($event)"
  (loading)="isLoading($event)"></app-web-cam>
</div>