<!-- username and password form -->
<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form col-sm-4 col-sm-offset-4">
    <div class="card">
      <h2 class="card-title text-center mt-3 mb-2 text-success">Login</h2>

      <div class="card-body">
        <!-- invalid text -->
        <div class="alert alert-danger" role="alert" *ngIf="authService.message">
          {{ authService.message }}
        </div>

        <!-- username form -->
        <div class="form-group col-sm-14">
          <label class="control-label text-success" for="username" style="font-size: 20px;">
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Username
          </label>
          <input class="form-control" placeholder="username@gmail.com" formControlName="username">
          <div class="text-danger small"
            *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">Username is
            required</div>
        </div>

        <!-- password form -->
        <div class="form-group col-sm-14">
          <label class="control-label text-success" for="username" style="font-size: 20px;">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp; Password
          </label>
          <input class="form-control input-password" type="password" placeholder="password"
            [formControl]="loginForm.controls['password']">
          <div class="text-danger small"
            *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Password is
            required</div>
        </div>

        <!-- login button -->
        <div class="login-button">
          <button class="btn btn-success mt-3" style="width: 100%;" type="submit">Log in</button>
        </div>

      </div>
    </div>
  </form>
</div>
<!-- <span *ngIf="authService.getUser()"> 
    <chat-page></chat-page>
</span> -->
