.close {
  width: 10px;
  height: 10px;
  margin-right: .5em;
}

.closeCam {
  float: left;
}

.business-card-form {
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.add-button {
  width: 320px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
}

#user-image {
  width: 150px; 
  height:150px; 
  margin: 15px;
  margin-top: 25px;
}

.webcam-edit {
  background-color: #4747476c;
  padding-left: 50px;
  padding-right: 100%;
  padding-bottom: 30px;
  /* padding-top: 30px; */
  position: absolute;
  z-index: 2;
}

.webcam {
  display: flex;
}

/* style in child */
:host ::ng-deep app-web-cam .snapshot {
  margin-top: -0.5px;
  margin-left: 20px;
}

:host ::ng-deep app-web-cam .webcam-title {
  display: none;
}
