<app-loading-screen *ngIf="loading"></app-loading-screen>

<table class="table table-hover">
  <tr>
    <th>#</th>
    <th>Business Card</th>
    <th>Options</th>
  </tr>

  <tr *ngFor="let card of businessCards; let i = index" [attr.data-index]="i">
    <td>
      {{i + 1}}
    </td>
    <td style="width: 430px;">
      <div class="card" style="max-width: 400px;">
        <div class="row">
          <div class="col-sm-4">
            <img src="/assets/images/user.png" alt="image" style="width: 100px; height:100px; margin:10px;">
          </div>
          <div class="col-sm-5 mt-3">
            <h6>{{card.company}}</h6>

            <div style="display: flex;">
              <i class="fa fa-user" aria-hidden="true" style="font-size: 20px; margin-right: 5px;"></i>
              <h6>{{card.firstname}} {{card.lastname}}</h6>
            </div>

            <div style="display: flex;">
              <i class="fa fa-envelope" aria-hidden="true" style="font-size: 15px; margin-right: 5px; margin-top: 3px;"></i>
              <h6>{{card.email}}</h6>
            </div>

            <div style="display: flex;">
              <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; margin-right: 5px;"></i>
              <h6 style="margin-top: 2px;">  {{card.phoneNumber}}</h6>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="selectedCard.image==card.image&&onPreview" id="image" class="collapse">
        <img src="{{card.image}}" alt="image" height="200" width="400" style="margin-top:10px;">
      </div>
    </td>

    <td>
      <button class="btn btn-primary mr-2" (click)="openImage(this.card)" data-toggle="collapse" data-target="#image">
        <i class="fa fa-image"></i>
        Preview Image
      </button>
      <button class="btn btn-success mr-2"  (click)="openEditDialog(card)"> 
        <i class="fa fa-edit"></i>
        Edit
      </button>
      <button class="btn btn-danger mr-2" (click)="openDeleteDialog(this.card)">
        <i class="fa fa-remove"></i>
        Remove
      </button>

    </td>
  </tr>
</table>
