<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        <i class="fa fa-id-card" aria-hidden="true"></i>
      </a>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/businesscards" routerLinkActive="active">Business Cards</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/new-businesscard" routerLinkActive="active">New Business Card</a>
        </li>
    </ul>
    <span class="pullright" *ngIf="authService.isLoggedIn()">
        <app-logout></app-logout>
    </span>
  </div>
</nav>
