<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/profile">
        <i class="fa fa-id-card" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/business-cards" routerLinkActive="active">Business Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/new-business-card" routerLinkActive="active">Add Business
            Card</a>
        </li>
      </ul>
    </div>

    <span *ngIf="authService.isLoggedIn()">
    <div class="right-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- Dropdown for search by  -->
          <div class="btn-group">
          <button class="search-by btn btn-dark dropdown-toggle" data-toggle="dropdown">
            Search By
          </button>
          <div class="dropdown-menu choices" role="menu">
              <li><a href="#" class="dropdown-item choice1" (click)="onSearchBy($event, 1)" [ngClass]="{choice1: searchBy=='firstname&company'}">
              Firstname&Company</a></li>
            <li><a href="#" class="dropdown-item choice2" (click)="onSearchBy($event, 2)" [ngClass]="{choice2: searchBy=='firstname'}">
              Firstname</a></li>
              <li><a href="#" class="dropdown-item choice3" (click)="onSearchBy($event, 3)" [ngClass]="{choice3: searchBy=='company'}">
              Company</a></li>
          </div>
        </div>
        <span class="search-form btn-group" >
          <input class="" type="text" placeholder=" Search..." [formControl]="searchFor" name="searchFor"
            (keydown.enter)="search()">
          <button class="search-button btn-group" (click)="search()"><i class="fa fa-search"></i></button>
          </span>
        </li>

        <li>
          <div style="color: white; margin-top: 8px;">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" style="right: 0; left: auto; width: 7rem;">
              <app-logout></app-logout>
            </div>
          </div>

        </li>
      </ul>
    </div>
    </span>
    
  </div>
</nav>
