<div class="webcam-and-button">
  <webcam [height]="310" 
  [trigger]="triggerObservable" 
  (imageCapture)="handleImage($event)"
  (initError)="handleInitError($event)" 
  [imageQuality]="1"></webcam>

  <div>
    <button class="btn btn-primary snapshot-button" (click)="triggerSnapshot()">
      <i class="fa fa-camera"></i>
      &nbsp; Take a Snapshot
    </button>
  </div>
</div>

<div id="snapshot" class="snapshot" *ngIf="webcamImage">
  <!--*ngIf="webcamImage"-->
  <h5 class="text-success webcam-title">Please confirm your business card image</h5>
  <img [src]="webcamImage.imageAsDataUrl" id="image" />
  <div class="mt-2 mb-2">
    <button class="btn btn-primary mr-2" (click)="convertToBase64()">Confirm</button>
    <button class="btn btn-secondary" (click)="webcamImage=null">Cancel</button>
  </div>
</div>
