.snapshot {
  margin-top: 20px;
}

.snapshot img {
    max-width: 466px;
    max-height: 400px;
}

.snapshot-button{
  width: 467px;
}

@media only screen and (max-width: 900px) {
    webcam {
      margin-left: -80px;
    }
    .snapshot-button {
      margin-left: -80px;
    }
    .snapshot {
      margin-left: -80px;
    }
  }