.business-card-form {
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.add-button {
  width: 82.5%;
  margin-left: 40px;
  /* margin-right: 40px; */
  margin-bottom: 30px;
  margin-top: 10px;
}

#user-image {
  width: 150px; 
  height:150px; 
  margin: 15px;
  margin-top: 25px;
}

.snapshot-form {
  display: flex;
}

.webcam {
  margin-top: 70px; 
  margin-left: 140px;
}

@media only screen and (max-width: 900px) {
  .webcam {
    margin-top: 70px; 
    /* margin-left: 135px; */
  }
}