.logout-button {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: pointer;
  color: gray !important;
}

.logout-button p {
  margin-top: 10px;
}

.logout-button:hover p {
  background-color: transparent;
  color: #28a745;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: white;
}